@import url(reset.css);
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css");

* {
    box-sizing: border-box;
}

img {
    width: 100%;
    height: auto;
    display: block;
}

html {
    scroll-behavior: smooth;
}

:root {
    --fuenteprincipal: 'Montserrat',
        sans-serif;
    --fuentestitulos: 'Handlee',
        cursive;
    --colorprincipal: #fa573a;
    --colorsecundario: #21242e;
    --margingrid: 1em;
    --font-size: 1em;
    --anchomaximo: 68.75em;

}

.container {
    max-width: var(--anchomaximo);
    margin: 0 auto;

}

body {
    font-family: var(--fuenteprincipal);
    font-size: var(--font-size);
}

/* inicio header */

header .nav-top {
    background-color: var(--colorsecundario);
    padding: 1.25em 0px;

}

header .nav-top .container {
    display: flex;
    justify-content: space-around;
}

header .nav-top a {
    color: var(--colorprincipal);
    text-decoration: none;
}

header .nav-top a i {
    font-size: 150%;

}

header .nav-top span {
    color: white;
    display: none;
}

header nav {
    padding: 1.25em;
}

header nav .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

header nav .menu {
    width: 100%;
}

header nav .menu .activa {
    color: var(--colorprincipal);
}

header nav .menu a:hover {
    color: var(--colorprincipal);
    transition: 1s;
}


header nav .hamburguesa {
    cursor: pointer;
    width: 1.875em;
}

header nav .hamburguesa div {
    border-top: 2px solid #aaa;
    margin-bottom: 0.625em;
}

header nav figure {
    max-width: 100px;
}

header nav .menu a {
    display: block;
    width: 100%;
    text-decoration: none;
    text-align: center;
    padding: 1.25em;
    color: #aaa;
    border-bottom: 1px solid #aaa;
}

header nav .menu li:last-child a {
    border-bottom: 0px;
}

/* fin de header */

/* inicio del footer */

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    color: var(--colorprincipal);
}

footer {
    background-color: var(--colorsecundario);
    padding: 1.25em 0px;
    text-align: center;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
    font-size: 110%;
}

/* final del footer */

/* inicio flecha cursor roja*/
.flecha a {
    display: block;
    color: var(--colorprincipal);
    font-size: 300%;
    position: fixed;
    bottom: 4.375rem;
    right: 1.25rem;

}

/* final flecha cursor roja */


/* inicio del hero */

.hero {
    background-image: url('../images/fondo.jpg');
    height: 60vh;
    background-size: cover;
    background-position: center center;
    background-blend-mode: multiply;
    background-color: #888;
    padding-top: 17vh;
    color: white;
}

.hero h1 {
    font-family: var(--fuentetitulos);
    font-size: 2.25em;
}

.hero h2 {
    color: var(--colorprincipal);
    font-size: 1.25em;
    margin: var(--margingrid) 0;
}

.hero p {
    font-size: 1.15em;
}

.boton {
    display: inline-block;
    background-color: var(--colorprincipal);
    padding: 1.10em;
    color: white;
    text-decoration: none;
    border: 1px solid var(--colorprincipal);
}

.boton:hover {
    background-color: transparent;
    color: var(--colorprincipal);
}

.boton:hover i {
    transition: transform 0.5s;
    transform: translateX(5px);
}

.hero .container>div {
    margin: var(--margingrid) 0;
}

.hero .social {
    display: flex;
    justify-content: space-between;
    width: 9.5em;
}

.hero .social a {
    color: white;
    font-size: 1.8em;
}

.hero .container {
    padding: 0 var(--margingrid);
}

/* final hero */

/* inicio our services */

main section {
    padding: 2.125em var(--margingrid);
}

main section h2 {
    color: black;
    font-family: var(--fuentetitulos);
    font-size: 2em;
    text-align: center;
}

main section h2 span {
    color: var(--colorprincipal);
}

main section .underline {
    position: relative;
    width: 6.25rem;
    margin: 0 auto;
}

main section .underline hr {
    position: absolute;
    width: 100%;
    top: -2px;
    border-color: var(--colorprincipal);
}

main section .underline span {
    text-align: center;
    display: block;
    color: var(--colorprincipal);
    font-weight: 700;
}

main section .grid {
    display: flex;
    flex-wrap: wrap;
}

main section:last-child {
    margin-bottom: 3em;
}

main #services article {
    border-bottom: 1px solid #aaa;
    padding: 1.5em 0;
}

main #services article>div i {
    color: var(--colorprincipal);
    font-size: 140%;
    border: 1px solid var(--colorprincipal);
    padding: 0.5em;
    display: inline-block;
}

main #services article h3 {
    margin: var(--margingrid) 0;
    font-size: 110%;
    font-weight: 700;
}

main section p {
    color: #666;
    line-height: 1.15em;
    margin-bottom: var(--margingrid);
}

main section .enlace {
    color: var(--colorprincipal);
    text-decoration: none;
    font-weight: 700;
}

.fa-truck {
    transform: rotateY(180deg);
}


/* fin our services */

/* inicio about us */

main #aboutus .grid figure {
    width: 100%;
}

main #aboutus .grid>div {
    width: 100%;
}

main #aboutus .grid h3 {
    font-size: 110%;
    font-weight: 700;
}

main #aboutus .grid h4 {
    margin: var(--margingrid) 0;
    color: var(--colorprincipal);
}

main #aboutus .grid>div a {
    color: white;
}

main #aboutus .imagen {
    width: 93%;
    margin: 1.5em auto;
}

main #aboutus .imagen .marco {
    border: 3px solid var(--colorprincipal);
    transform: rotateZ(10deg);
    transition: 1s;
}

main #aboutus .imagen .marco img {
    transform: rotateZ(-10deg);
    transition: 1s;
}

main #aboutus .imagen:hover :is(.marco, .marco img) {
    transform: rotateZ(0deg);
}

/* fin about us */


/* comienzo blog */

main section {
    padding: 2.125em var(--margingrid);
}

main section h2 {
    color: black;
    font-family: var(--fuentetitulos);
    font-size: 2em;
    text-align: center;
}

main section h2 span {
    color: var(--colorprincipal);
}

main section .underline {
    position: relative;
    width: 6.25rem;
    margin: 0 auto;
}

main section .underline hr {
    position: absolute;
    width: 100%;
    top: -2px;
    border-color: var(--colorprincipal);
}

main section .underline span {
    text-align: center;
    display: block;
    color: var(--colorprincipal);
    font-weight: 700;
}

main section .grid {
    display: flex;
    flex-wrap: wrap;
}

main #ourblog article,
.main #ourblog .grid>div {
    width: 50%;
    padding: 1em;
}

main section:last-child {
    width: 100%;
}

main #ourblog .grid article h5 {
    background-color: var(--colorprincipal);
    width: 3.3em;
    height: 3.3em;
    color: white;
    position: relative;
    top: 3.313em;
    text-align: center;
    font-size: 1em;
    padding: 0.5em;
    opacity: 85%;
}

main #ourblog article h3 {
    margin: var(--margingrid) 0;
    font-size: 110%;
    font-weight: 700;
}

main section h4 {
    font-size: 0.8em;
    color: var(--colorprincipal);
    font-weight: 530;
    margin-top: 1em;
}

main section p {
    font-size: 0.9em;
    color: #666;
    margin-bottom: var(--margingrid);
}

main #ourblog .enlace {
    font-size: 0.725em;
}

/* fin blog */

/* inicio menu */

main #menu {
    background-color: var(--colorsecundario);
}

main #menu h2 {
    color: white;
    font-family: var(--fuentetitulos);
    font-size: 2em;
    text-align: center;
    padding: 0.520em;
}

main section .under {
    position: relative;
    width: 6.25rem;
    margin: 0 auto;
}

main section .under hr {
    position: absolute;
    width: 100%;
    top: -2px;
    border-color: var(--colorprincipal);
}

main section .under span {
    text-align: center;
    display: block;
    color: var(--colorprincipal);
    font-weight: 700;
}

#menu .row>div ul {
    margin: var(--margingrid) 1.5em;
}


#menu .row div>nav a {
    color: white;
    font-family: var(--fuenteprincipal);
    font-size: 0.75em;
    text-decoration: none;
    margin: var(--margingrid)1em;
    line-height: 2.2em;

}

#menu .row div nav a:hover {
    background-color: var(--colorprincipal);
    padding-right: 100%;
    display: flex;
}

#menu .row h3 {
    color: white;
    font-size: var(--fuentetitulos);
    margin: var(--margingrid) 1.5em;

}

#menu .row .under-line hr {
    position: sticky;
    width: 4rem;
    color: var(--colorprincipal);
    margin-left: 1.813em;
}

#menu .row>div p {
    color: #aaa;
    margin: var(--margingrid) 2.5em;
    font-size: 0.695em;
    width: 90%;
    line-height: 1.5em;
}

main #menu article h4 {
    color: white;
    font-size: 0.625sem;
}

main #menu article h4 span {
    color: var(--colorprincipal);
    padding-left: 1em;
}

#menu .row>div article p {
    color: #aaa;
    font-size: 0.712em;
    margin: var(--margingrid) 0;
}

main #menu article,
.main #menu .row>div {
    width: 100%;
    padding: 1em;
    margin: 0 auto;
}

main #menu .enlace {
    font-size: 0.725em;
}


/* fin del menu *

/* inicio mediaqueries */

@media(min-width: 48em) {
    header .nav-top a i {
        font-size: 120%;
    }

    header .nav-top span {
        display: inline;
    }

    header .nav-top .container {
        justify-content: space-between;
    }

    footer {
        text-align: left;
    }

    main #services article {
        width: 50%;
        border-bottom: 0px;
        border-left: 1px solid #aaa;
        padding: 1.5em;
        margin: var(--margingrid) 0;
    }

    main #services article:last-child {
        width: 100%;
    }

    main #aboutus .grid figure,
    main #aboutus .grid>div {
        width: 50%;
    }

    main #aboutus .grid h3 {
        margin-top: var(--margingrid);
    }

    main #aboutus .imagen {
        margin: var(--margingrid) 0 2em 0;
    }

    main #ourblog article,
    .main #ourblog .grid>div {
        width: 33.333%;
        margin: 0 auto;

    }

    .grid article h5 {
        background-color: tomato;
        width: 3.3em;
        height: 3.3em;
        color: white;
        position: relative;
        top: 3.313em;
        text-align: center;
        font-size: 1em;
        padding: 0.5em;
        opacity: 85%;
    }

    main #menu article,
    .main #menu .row>div {
        width: 85%;
        padding: 1em;
        margin: 0 auto;
    }


}

@media(min-width: 62.75em) {
    header nav .menu {
        width: auto;
    }

    header nav .hamburguesa {
        display: none;
    }

    header nav .menu li {
        display: inline-block;
    }

    header nav .menu a {
        padding: 0.5em 0 1.25em 1.25em;
        border-bottom: 0px;
    }

    .hero .container {
        padding: 0;
    }

    main #services article {
        width: 33.333%;
    }

    main #services article:last-child {
        width: 33.333%;
    }

    main #ourblog article,
    .main #ourblog .grid>div {
        width: 33.333%;
        padding: 1em;
        margin: 0 auto;
        padding-bottom: 2em;
    }

    .grid article h5 {
        background-color: tomato;
        width: 3.3em;
        height: 3.3em;
        color: white;
        position: relative;
        top: 3.313em;
        text-align: center;
        font-size: 1em;
        padding: 0.5em;
        opacity: 85%;
    }

    #menu .row {
        display: flex;
        margin: 0 auto;
        margin-top: 30px;
        height: 100vh;

    }

    #menu .row>div:first-child {
        width: 20%;
        margin: 0 auto;
    }

    main #menu article {
        width: 80%;
        display: flex;
    }

    main #menu .row article>figure {
        width: 18.333%;
        padding: 0.625em;
    }

    main #menu article h4 {
        font-size: var(--font-size)
    }

    #menu .row h3 {
        margin-top: 75px;
    }

}